@charset "ISO-8859-1";

body {
    margin: 0px;
    padding: 0px;
}

.head{
	text-align:center;
   background-color: #08303f;
  
    box-shadow: 0px 0px 15px #888888;
    background-repeat:no-repeat;
}

h2 {
    padding-bottom:30px;
    font-family: times;
    text-align:center;
}



.logohead{
	
	
	
	display:inline-block;
	position: relative;
	margin:0 auto;
	
}


form {

    margin: 40px;
    margin-top: 15px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px #888888;
    padding: 10px;
}




    form label {
    
        display: block;
        margin: 0px 0px;
        font-size:20px;
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;

        
    }

    form input[type="text"],
    input {
        display: block;
        padding: 10px 0;
        margin:  auto;
        border-radius: 5px;
        width: 50%;
        text-align: center;
    }

    form input[type="submit"] {
        display: block;
        padding: 10px 0;
        margin: 1px;
        border: 1px solid transparent;
        background: #3262ab;
        color: white;
        border-radius: 5px;
        width: 25%;
        cursor: pointer;
        transition: all 1s;
    }
    
 .btnstyle{
    text-align: center;
}


.mylist{
  
  
  display : block;
 text-align:right;
  width:50%;
  margin: auto;
  padding: 10px 10px 10px 10px;
  background: #ffffff;
  border: 2px solid #ccc;
 box-shadow: 0px 0px 0px 2px #8888;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  
  
  
 
}

.list{

    width:100%;
    
    
    border: 0;
    padding: 0;
    border-radius: 0;
    position: relative;
    
    font-size: 18px;
    
} 

select:focus{
    
    outline:none;
    
    
   
}  
    
    
#two-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}