
body {
    margin-top: 10px;
    padding: 0px;
}


#wrapper {
    padding: 10px;
    max-width: 560px;
    height: fit-content;
    margin: 0 auto;
}

.head{
	
	
	margin:20px;
	
	text-align:center;
   	background-color: #08303f;
  
    box-shadow: 0px 0px 15px #888888;
    background-repeat:no-repeat;
}

.logohead{
	
	display:inline-block;
	position: relative;
	margin:0 auto;
	
}


.resultmedium{
	position: relative;
	height:fit-content;
	
	box-shadow: 2px 2px 2px 2px #888888;
    padding: 10px;
    background-color: rgb(252, 211, 164);

    border-radius: 10px;
    color: rgb(250, 133, 24);

}

.resulthigh{
	
	position: relative;
	height:fit-content;
	
	box-shadow: 2px 2px 2px 2px #888888;
    padding: 10px;
    background-color: #f8afaf;

    border-radius: 10px;
    color: rgb(228, 6, 6);

}


.resultlow{
	
	position: relative;
	height:fit-content;
	
	box-shadow: 2px 2px 2px 2px #888888;
    padding: 10px;
    background-color: #bef5b3;

    border-radius: 10px;
    color: rgb(10, 143, 6);

}



.precautionshigh{
	
	position: relative;

	height: fit-content;
	box-shadow: 2px 2px 2px 2px #888888;
    padding: 20px;
    padding-left: 18px;
    
    border-radius: 9px;
    background-color: rgb(213, 213, 248);

}

.precautionslow{
	position: relative;

	height: fit-content;
	box-shadow: 2px 2px 2px 2px #888888;
    padding: 20px;
    padding-left: 18px;
    
    border-radius: 9px;
    background-color: rgb(213, 213, 248);

}